<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EcoCityUser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <EcoCityUser.Properties.Settings>
            <setting name="UserInputId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ServerURL" serializeAs="String">
                <value>http://192.168.0.111:1026</value>
            </setting>
            <setting name="EntitiesApi" serializeAs="String">
                <value>/v2/entities</value>
            </setting>
        </EcoCityUser.Properties.Settings>
    </userSettings>
</configuration>